<h1>New game - Ready player one</h1>

<%= @letters %>

<form action="/score" method="POST" data-turbo="false">
  <input type="text" name="answer" placeholder="Write your word here">
  <input type="submit" value="Play!" label="Try to find the longest word">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
</form>
